<% if params[:filter] == 'all' %>

  <div class="divider">CURRENTLY HAPPENING</div>  
  <div class="columns is-multiline is-centered">
    <%= render partial: 'events/listed_event', collection: @selected_events.happening %>
  </div>

  <div class="divider">UPCOMING</div>  
  <div class="columns is-multiline is-centered">
    <%= render partial: 'events/listed_event', collection: @selected_events.upcoming %>
  </div>

  <div class="divider">PAST</div>  
  <div class="columns is-multiline is-centered">
    <%= render partial: 'events/listed_event', collection: @selected_events.past %>
  </div>

<% else %>  
  <div class="columns is-multiline is-centered">
    <%= render partial: 'events/listed_event', collection: @selected_events.all %>
  </div>
<% end %>