<section class="is-medium">
  <div class="columns is-multiline is-centered m-2">
    <% @events.each do |event| %>
      <div class="column is-narrow is-flex">
        <%= link_to event_url(event.id), class: "box", style: "max-width:420px" do %>
          <h4 class="title is-4">
            <%= event.name %>
          </h4>
          <div>
            <%= event.date.to_fs(:long) unless event.date.nil? %>
          </div>
          <p>
            <%= event.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>